/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

/* My styles */
.body {
  font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.form {
  box-sizing: border-box;
  width: 372px;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  margin: 16px auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  justify-content: center;
}

.gallery-item {
  max-width: 360px;
  min-height: 200px;
  border: 1px solid #808080;
  transition: transform 0.5s ease-in-out
}

.gallery-item:hover {
  transform: scale(1.04);
}

.gallery-link {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.gallery-link p {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  margin-top: 4px;
  margin-bottom: 4px;
}

.gallery-link span {
  font-weight: 400;
  line-height: 2;
}

.gallery-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 152px;
  overflow: hidden;
}

.form input {
  box-sizing: border-box;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid lightslategray;
  padding: 8px 0;
  padding-left: 16px;
}

.form input:hover,
.form input:focus {
  border: 1px solid #2e2f42;
}

button {
  border-radius: 8px;
  border: transparent;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  color: #fff;
}

.load-more-btn {
  width: 125px;
  margin: 32px auto;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
}

button:hover {
  background-color: #6c8cff;
}


/********** LOADER ***********/

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  border-top: 4px solid #0f0f0f;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 5px auto;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #FF3D00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.loader-more {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: block;
  margin: 3px auto;
  border-top: 3px solid darkred;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*********** HIDDEN CLASS ***********/
.hidden {
  display: none;
}